@charset "utf-8";
/* CSS Document */

.content{
	width: 1200px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
 .main{width:1180px;      margin:0 auto;}  
  .main img{width:250px;          padding:10px;      margin-left:14px;      border:solid #666 1px;}
.main-a{
	width: 1050px;
	background: #e9f4fa;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	text-align: left;
}   
.main-a h2{text-align:center;           padding-top:20px;       font-family: "微软雅黑";}      
.main-a h3{font-size:12px;       font-weight:normal;       line-height:30px;       padding:30px;}  
.footer .w .footer_hd .introduce .hd_title p a {
	color: #CCC;
}
